/* ROOT SETTINGS */
/*---------------*/
:root {
	/* colors */
	--dark-clr: 248 10% 30%;
	--green-clr: 133 63% 67%;
	--yellow-clr: 51 100% 94%;
	--lightpurple-clr: 259 100% 96%;
	--blue-clr: 210 100% 36%;
	--purple-clr: 245 21% 52%;
	--white-clr: 0 0% 100%;

	/* font-size */
	--fs-800: 3rem;
	--fs-600: 1.75rem;
	--fs-500: 1.375rem;
	--fs-400: 1rem;

	/* font-family */
	--ff-roboto: 'Roboto', sans-serif;
}

/* ------------ */
/* RESET */
/* ------------ */

*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
	font-weight: 400;
}

input,
button,
textarea,
select {
	font: inherit;
}
body {
	font-family: var(--ff-roboto);
	font-size: var(--fs-400);
	color: hsl(var(--dark-clr));
	min-height: 100vh;
	height: 100vh;
	line-height: 1.5;
}

.flex {
	display: flex;
}

.flex-columns {
	flex-direction: column;
}
.space-between {
	justify-content: space-between;
}

/* styling */

.bg-container {
	position: relative;
	background: url('img/desert.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	min-height: 100%;
}

.white-overlay {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.45);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.header {
	background-color: hsl(var(--white-clr));
	text-align: center;
	padding: 1rem 0;
}

.header > h1 {
	font-size: var(--fs-800);
	font-weight: 600;
	text-transform: uppercase;
}

/* main content setup */

.main-content {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1rem;
	margin-top: 1rem;
	padding-right: 0.75rem;
}

.filter-wrapper {
	background: hsl(var(--white-clr));
}
.filter-wrapper > *:where(:not(:first-child)) {
	margin: 1rem 1.5rem;
}

.filter-by-container {
	margin: 2.5rem auto;
}

.filter-by-container > div {
	margin: 0.75rem auto;
}

.filter-date-wrapper {
	display: flex;
	flex-direction: column;
}

.sort-by-container > h4,
.filter-by-container > h4 {
	font-weight: 500;
	margin: 0.5rem auto;
	color: #000;
}

.filter-heading {
	display: flex;
	background-color: hsl(var(--white-clr));
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	border-radius: 0px 5px 5px 0px;
}

.filter-heading > img {
	padding: 0.75rem 1rem;
}

.filter-heading > h3 {
	font-size: var(--fs-500);
	margin: auto;
	font-weight: 500;
}

.task-container {
	background-color: hsl(var(--white-clr) / 0.25);
	padding: 0.75rem;
}

/* single task style */

.single-task {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	align-items: center;
	background-color: hsl(var(--white-clr));
	margin: 0.5rem 0px;
	padding: 0.75rem 2rem;
	border-radius: 4px;
}
.checkmark-container {
	display: inline-block;
	position: relative;
	padding-left: 1rem;
	margin-bottom: 1.5rem;
	cursor: pointer;
	font-size: var(--fs-600);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkmark-container > input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.7rem;
	width: 1.7rem;
	border-radius: 50%;
	background-color: #ccc;
}
.checkmark-container:hover > input ~ .checkmark {
	background-color: hsl(var(--green-clr) / 0.55);
}
.checkmark-container > input:checked ~ .checkmark {
	background-color: hsl(var(--green-clr));
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.checkmark-container input:checked ~ .checkmark:after {
	display: block;
}

.checkmark-container .checkmark:after {
	left: 50%;
	top: 50%;
	width: 8px;
	height: 14px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.task-name {
	font-size: var(--fs-500);
	letter-spacing: 0.2px;
}

.task-date {
	color: #9f9f9f;
}

.edit-task {
	background-color: #b2bec3;
}
.delete-task {
	background-color: #d63031;
}

.edit-task,
.delete-task {
	text-decoration: none;
	color: hsl(var(--white-clr));
	padding: 0.45rem 0.75rem;
	border-radius: 4px;
	margin-inline: 0.25rem;
}

.add-task {
	background-color: hsl(var(--white-clr));
}

.add-task-head {
	display: grid;
	grid-template-columns: 20px auto;
	gap: 1rem;
	place-items: center;
	place-content: center;
	cursor: pointer;
}

.add-task-head > i {
	font-size: var(--fs-500);
	color: rgb(255, 68, 68);
}

.add-task-head > p {
	font-size: var(--fs-600);
}

.add-task-inputs > label {
	margin-inline: 1rem;
}
.add-task-inputs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-content: center;
	padding: 1rem;
	transition: all 0.5s ease;
	opacity: 1;
	transform: translateY(0);
}

.add-task-btn {
	display: inline-block;
	text-decoration: none;
	background-color: hsl(var(--blue-clr));
	color: hsl(var(--white-clr));
	font-size: 1rem;
	border-radius: 4px;
	padding: 0.35rem 1rem;
	transition: transform 0.5s ease;
}
.add-task-btn:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease;
}

.add-task-inputs > * {
	display: grid;
	place-content: center;
}

/* add this class to hide ADD TASK elements / wrapper */
.add-task-inputs.hidden {
	display: none;
	visibility: hidden;
	opacity: 0.5;
	transform: translateY(-100%);
	transition: all 0.5s ease;
}

/* --------------- */

#edit-wrapper {
	margin-top: 2rem;
	gap: 1rem;
}
